In [ ]:
SpaceX Falcon 9 First Stage Landing Prediction

In [ ]:
Assignment: Exploring and Preparing Data

In [ ]:
Estimated time needed: 70 minutes

In [ ]:
n this assignment, we will predict if the Falcon 9 first stage will land successfully. SpaceX advertises Falcon 9 rocket launches on its website 
with a cost of 62 million dollars; other providers cost upward of 165 million dollars each, much of the savings is due to the fact that SpaceX can reuse the first stage.

In this lab, you will perform Exploratory Data Analysis and Feature Engineering.

In [ ]:
Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing_1.gif)

In [ ]:
Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

In [ ]:
Most unsuccessful landings are planned. Space X performs a controlled landing in the oceans

In [ ]:
Objectives
Perform exploratory Data Analysis and Feature Engineering using Pandas and Matplotlib

Exploratory Data Analysis
Preparing Data Feature Engineering

In [ ]:
Import Libraries and Define Auxiliary Functions

In [9]:
import piplite
await piplite.install(['numpy'])
await piplite.install(['pandas'])
await piplite.install(['seaborn'])

In [ ]:
We will import the following libraries the lab

In [10]:
# andas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns

In [ ]:
First, let's read the SpaceX dataset into a Pandas dataframe and print its summary

In [11]:
from js import fetch
import io

URL = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv'
resp = await fetch(URL)
dataset_part_1_csv = io.BytesIO((await resp.arrayBuffer()).to_py())

df=pd.read_csv(dataset_part_1_csv)
df.head(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857

In [14]:
print(df.columns)

Index(['FlightNumber', 'Date', 'BoosterVersion', 'PayloadMass', 'Orbit',
       'LaunchSite', 'Outcome', 'Flights', 'GridFins', 'Reused', 'Legs',
       'LandingPad', 'Block', 'ReusedCount', 'Serial', 'Longitude',
       'Latitude'],
      dtype='object')

In [ ]:
We see that different launch sites have different success rates. CCAFS LC-40, has a success rate of 60 %, while KSC LC-39A and VAFB SLC 4E has a success rate of 77%

In [15]:
print(df.dtypes)

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

In [1]:
sns.catplot(y="PayloadMass", x="FlightNumber", hue="Class", data=df, aspect = 5)
plt.xlabel("Flight Number",fontsize=20)
plt.ylabel("Pay load Mass (kg)",fontsize=20)
plt.show()

<class 'NameError'>: name 'sns' is not defined

In [ ]:
TASK 1: Visualize the relationship between Flight Number and Launch Site

In [3]:
sns.set_theme(color_codes=True)
plt.figure(figsize=(14,8))
sns.scatterplot(x="FlightNumber", y="LaunchSite", hue="Class", data = df)
plt.xlabel("Flight Number",fontsize=20)
plt.ylabel("Launch Site",fontsize=20)
plt.show()

<class 'NameError'>: name 'sns' is not defined

In [ ]:
For better understanding, we will use the swarm plot instead of scatter plot. The swarm plot is a type of scatter plot, but helps
in visualizing different categorical variables. Scatter plots generally plots based on numeric values, but most of the data analyses
happens on categorical variables. So, swarm plots seem very useful in those cases.

In [4]:
sns.set_theme(color_codes=True)
plt.figure(figsize=(12,6))
sns.swarmplot(x="FlightNumber", y="LaunchSite", hue="Class", data = df, dodge = True)
plt.xlabel("Flight Number",fontsize=20)
plt.ylabel("Launch Site",fontsize=20)
plt.show()

<class 'NameError'>: name 'sns' is not defined

In [ ]:
Now try to explain the patterns you found in the Flight Number vs. Launch Site scatter point plots.

In [ ]:
### TASK 2: Visualize the relationship between Payload and Launch Site

In [5]:
# Plot a scatter point chart with x axis to be Pay Load Mass (kg) and y axis to be the launch site, and hue to be the class value
sns.set_theme(color_codes=True)
plt.figure(figsize=(14,8))
sns.scatterplot(x="PayloadMass", y="LaunchSite", hue="Class", data = df)
plt.xlabel("Pay Load Mass (Kg)",fontsize=20)
plt.ylabel("Launch Site",fontsize=20)
plt.show()

<class 'NameError'>: name 'sns' is not defined

In [6]:
sns.set_theme(color_codes=True)
plt.figure(figsize=(14,8))
sns.swarmplot(x="PayloadMass", y="LaunchSite", hue="Class", data = df, dodge = True)
plt.xlabel("Pay Load Mass (Kg)",fontsize=20)
plt.ylabel("Launch Site",fontsize=20)
plt.show()

<class 'NameError'>: name 'sns' is not defined

In [ ]:
### TASK  3: Visualize the relationship between success rate of each orbit type

In [7]:
# HINT use groupby method on Orbit column and get the mean of Class column
xh = df.groupby('Orbit')['Class'].mean()
ax = xh.plot(kind='bar', figsize=(14, 7), color='#86bf91', zorder=2, width=0.8)
ax.set_xlabel("Orbit", labelpad=20, weight='bold', size=17)
ax.set_ylabel("Sucess rate of each orbit", labelpad=20, weight='bold', size=17);

<class 'NameError'>: name 'df' is not defined

In [ ]:
Next, we want to visually check if there are any relationship between success rate and orbit type.

Let's create a bar chart for the sucess rate of each orbit

In [8]:
Analyze the ploted bar chart try to find which orbits have high sucess rate.

df.groupby(['Orbit']).mean()
sns.catplot(x="Orbit",y="Class", kind="bar",data=df, aspect=2)
plt.xlabel("Orbit",fontsize=20)
plt.ylabel("Mean",fontsize=20)
plt.show()

<class 'SyntaxError'>: invalid syntax (<ipython-input-8-c514b013ef2a>, line 1)

In [ ]:
TASK 4: Visualize the relationship between FlightNumber and Orbit type
For each orbit, we want to see if there is any relationship between FlightNumber and Orbit type.

In [9]:
# Plot a scatter point chart with x axis to be FlightNumber and y axis to be the Orbit, and hue to be the class value
sns.set_theme(color_codes=True)
plt.figure(figsize=(14,8))
sns.scatterplot(x="FlightNumber", y="Orbit", hue="Class", data = df)
plt.xlabel("Flight Number",fontsize=20)
plt.ylabel("Orbit Type",fontsize=20)
plt.show()

<class 'NameError'>: name 'sns' is not defined

In [10]:
sns.set_theme(color_codes=True)
plt.figure(figsize=(18,8))
sns.swarmplot(x="Orbit", y="FlightNumber", hue="Class", data=df, dodge=False, alpha=.8, size=9)
plt.xlabel("Orbit",fontsize=20)
plt.ylabel("Flight Number",fontsize=20)
plt.show()

<class 'NameError'>: name 'sns' is not defined

In [ ]:
You should see that in the LEO orbit the Success appears related to the number of flights; on the other hand, 
there seems to be no relationship between flight number when in GTO orbit.

In [ ]:
TASK 5: Visualize the relationship between Payload and Orbit type
Similarly, we can plot the Payload vs. Orbit scatter point charts to reveal the relationship between Payload and Orbit type

In [11]:
# Plot a scatter point chart with x axis to be Payload and y axis to be the Orbit, and hue to be the class value
sns.set_theme(color_codes=True)
plt.figure(figsize=(14,8))
sns.scatterplot(x="PayloadMass", y="Orbit", hue="Class", data = df)
plt.xlabel("Payload",fontsize=20)
plt.ylabel("Orbit Type",fontsize=20)
plt.show()

<class 'NameError'>: name 'sns' is not defined

In [ ]:
With heavy payloads the successful landing or positive landing rate are more for Polar,LEO and ISS.

However for GTO we cannot distinguish this well as both positive landing rate and negative landing(unsuccessful mission) are both there here.

In [ ]:
TASK 6: Visualize the launch success yearly trend
You can plot a line chart with x axis to be Year and y axis to be average success rate, to get the average launch success trend.

The function will help you get the year from the date:

In [12]:
# A function to Extract years from the date 
year=[]
def Extract_year(date):
    for i in df["Date"]:
        year.append(i.split("-")[0])
    return year

In [13]:
# Plot a line chart with x axis to be the extracted year and y axis to be the success rate

df_groupby_year=df.groupby("year",as_index=False)["Class"].mean()
sns.set(rc={'figure.figsize':(12,6)})
sns.lineplot(data=df_groupby_year, x="year", y="Class" )
plt.xlabel("Year",fontsize=15)
plt.title('Space X Rocket Success Rates', fontsize = 20)
plt.ylabel("Success Rate",fontsize=15)
plt.show()

<class 'NameError'>: name 'df' is not defined

In [ ]:
you can observe that the sucess rate since 2013 kept increasing till 2020

Features Engineering
By now, you should obtain some preliminary insights about how each important variable would affect the success rate, 
we will select the features that will be used in success prediction in the future module.

In [15]:
features = df[['FlightNumber', 'PayloadMass', 'Orbit', 'LaunchSite', 'Flights', 'GridFins', 'Reused', 'Legs', 'LandingPad', 'Block', 'ReusedCount', 'Serial']]
features.head()

<class 'NameError'>: name 'df' is not defined

In [ ]:
TASK 7: Create dummy variables to categorical columns
Use the function get_dummies and features dataframe to apply OneHotEncoder to the column Orbits, LaunchSite, LandingPad, 
and Serial. Assign the value to the variable features_one_hot, display the results using the method head. Your result
dataframe must include all features including the encoded ones.

In [ ]:
# HINT: Use get_dummies() function on the categorical columns

In [17]:
features_one_hot = features

features_one_hot = pd.concat([features_one_hot,pd.get_dummies(df['Orbit'])],axis=1)
features_one_hot.drop(['Orbit'], axis = 1, inplace = True)

features_one_hot = pd.concat([features_one_hot,pd.get_dummies(df['LaunchSite'])],axis=1)
features_one_hot.drop(['LaunchSite'], axis = 1, inplace = True)

features_one_hot = pd.concat([features_one_hot,pd.get_dummies(df['LandingPad'])],axis=1)
features_one_hot.drop(['LandingPad'], axis = 1, inplace = True)

features_one_hot = pd.concat([features_one_hot,pd.get_dummies(df['Serial'])],axis=1)
features_one_hot.drop(['Serial'], axis = 1, inplace = True)

features_one_hot.head()

<class 'NameError'>: name 'features' is not defined

In [ ]:
TASK 8: Cast all numeric columns to float64
Now that our features_one_hot dataframe only contains numbers cast the entire dataframe to variable type float64

In [18]:
# HINT: use astype function
features_one_hot = features_one_hot.astype(float)
features_one_hot

<class 'NameError'>: name 'features_one_hot' is not defined

In [ ]:
We can now export it to a CSV for the next section,but to make the answers consistent, in the next lab we will provide data in a pre-selected date range.

In [ ]:
features_one_hot.to_csv('dataset_part_3.csv', index=False)

In [ ]:
Authors
Pratiksha Verma

Change Log
    
                Date (YYYY-MM-DD)	Version	Changed By	Change Description
                2022-11-09	1.0	Pratiksha Verma	Converted initial version to Jupyterlite
                IBM Corporation 2022. All rights reserved.